*.iml
# Skip intelij config folder
/.idea/
# Skip gradle config folder
/.gradle/

# Local properties are only interesting to this machine, do not upload
/local.properties

/build/
/captures

.externalNativeBuild
.cxx
.DS_Store