<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.python.companion">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.notes.note.activity.edit.NoteEditActivity" />
        <activity android:name=".ui.notes.note.activity.view.NoteViewActivity" />
        <activity android:name=".ui.notes.note.activity.view.NotePreviewActivity" />
        <activity android:name=".ui.notes.category.activity.CategoryEditActivity" />
        <activity android:name=".ui.general.settings.SettingsActivity" />
        <activity android:name=".ui.general.settings.port.ImportActivity" />
        <activity android:name=".ui.general.settings.port.ExportActivity" />
        <activity android:name=".ui.cactus.activity.measurement.MeasurementAddActivity" />
        <activity android:name=".ui.cactus.activity.CactusDistanceActivity" />
        <activity android:name=".ui.cactus.activity.measurement.MeasurementSelectActivity" />
        <activity android:name=".ui.cactus.activity.CactusJubileumActivity" />
    </application>

</manifest>